<header class="sidebar-header">

	<div class="first">
		<div class="header-content">
			{{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
			<a class="blog-title" href="{{@blog.url}}" title="{{@blog.title}}">
				{{@blog.title}}
				<span class="byline">{{@blog.description}}</span>
			</a>

			<div class="social-icons">
				<a href="https://twitter.com/transferwise" title="TransferWise on Twitter">&#x6b;</a>
				<a href="https://www.facebook.com/transferwise" title="TransferWise on Facebook">&#x6a;</a>
				<a href="{{@blog.url}}/rss/" title="RSS">&#x76;</a>
			</div>
		</div>
	</div>

	<div class="second">
	</div>
</header>