{{!< default}}
{{> header}}

<section class="page-content primary" role="main">
	{{#author}}

		<div class="author">
			{{#if cover}}
				<img src="{{cover}}" title="{{@blog.title}}" alt="Cover image"/>
			{{/if}}

			<div class="content-wrapper">
				{{#if image}}
					<div class="author-image" style="background-image: url('{{image}}')"></div>
				{{/if}}
				<h1 class="post-title">
					{{name}}
				</h1>
				<span class="author-stats">
					<i class="icon-stats"></i> {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}
				</span>
			</div>
		</div>
	{{/author}}

	{{#foreach posts}}

		<article id="post-{{id}}" class="post {{post_class}}" role="article" itemscope
				 itemtype="http://schema.org/Article">

			<div class="post-thumbnail">
				{{content words = "0"}}
			</div>

			<div class="content-wrapper">
				<h2 class="post-title">
					<a href="{{{url}}}" rel="bookmark">
						{{title}}
					</a>
				</h2>

				<div class="post-meta">
					<div class="info-div">
						{{#author}}<a href="{{url}}">{{name}}</a>{{/author}}
						on
						<span datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">
							{{date format='dddd'}}, {{date format='DD MMM YYYY'}}
						</span>
						{{#if tags}}
							<div class="post-tags">Tags:
								{{tags seperator=", "}}
							</div>
						{{/if}}
					</div>
				</div>

				<div class="post-content" itemprop="articleBody">
					<p>
						{{excerpt words="50"}} <span class="post-continue">&hellip;</span>
					</p>
					<a class="read-more" href="{{{url}}}">Read more</a>
				</div>
			</div>
		</article>
	{{/foreach}}

	{{#if pagination}}
		<div class="pagination" role="pagination">
			{{{pagination}}}
		</div>
	{{/if}}

	{{> footer}}
</section>