<!DOCTYPE html>
<html>
<head>
	{{! Document Settings }}
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	{{! Responsive Meta Tags }}
	<meta name="HandheldFriendly" content="True" />
	<meta name="MobileOptimized" content="320" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	{{! Page Meta }}
	<title>{{meta_title}}</title>
	<meta name="description" content="{{meta_description}}" />

	{{! Twitter meta }}
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="{{meta_title}}">
	<meta name="twitter:description" content="{{meta_description}}">

	{{! Open Graph meta }}
	<meta property="og:type" content="article">
	<meta property="og:title" content="{{meta_title}}">
	<meta property="og:description" content="{{meta_description}}">

	{{! Favicons }}
	<link rel="shortcut icon" href="{{asset "favicon.ico"}}">

	{{! Styles'n'Scripts }}
	<link rel="stylesheet" type="text/css" href="{{asset "styles/prism.css"}}" />
	<link rel="stylesheet" type="text/css" href="{{asset "styles/main.css"}}" />

	{{! Ghost outputs important style and meta data with this tag }}
	{{ghost_head}}
</head>
<body class="{{body_class}}">
	<main role="main">
		{{! Everything else gets inserted here }}
		{{{body}}}
	</main>

	{{! Ghost outputs important scripts and data with this tag }}
	{{ghost_foot}}

	{{! Scripts }}
	<script type="text/javascript" src="{{asset "js/prism.min.js"}}"></script>
</body>
</html>