{{!< default}}
{{> header}}

	<section class="page-content primary" role="main">

		{{#author}}
			<div class="author">
				{{#if cover}}
					<img src="{{cover}}" title="{{@blog.title}}" alt="Cover image" />
				{{/if}}

				<div class="content-wrapper">

				    <h1 class="post-title">
						Articles of {{name}}
				    </h1>

			        <div class="author-bio">
				        <div class="author-image">
					        {{#if image}}
								<img src="{{image}}" title="{{name}}'s Picture" alt="{{name}}'s Picture" />
					        {{/if}}
					    </div>

			        	<p>{{bio}}</p>
			        </div>

				    <div class="author-meta">
			            <span class="author-stats"><i class="icon-stats"></i> {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}</span>,
			            Location: {{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}},
			            {{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{name}}'s website</a></span>{{/if}},
			            <a class="subscribe-button icon-feed" href="{{url}}rss/">RSS</a>
					</div>

				</div>
			</div>
		{{/author}}

		{{#foreach posts}}

			<article id="post-{{id}}" class="post {{post_class}}" role="article" itemscope itemtype="http://schema.org/Article">

			    {{content words = "0"}}

			    <div class="content-wrapper">
				    <h2 class="post-title">
						<a href="{{{url}}}" rel="bookmark">
				    		{{title}}
				    	</a>
				    </h2>

				    <div class="post-meta">
						Posted
						<span datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">
							{{date format='dddd'}}, {{date format='DD MMM'}}
						</span>
						{{#author}}
							by <a href="{{url}}">{{name}}</a>
						{{/author}}
		                {{#if tags}}
		                	<div class="post-tags">
		                		Tags:
			                    {{tags seperator=", "}}
			                </div>
		                {{/if}}
					</div>

				    <div class="post-content" itemprop="articleBody">

						<p>
							{{excerpt words="80"}} <span class="post-continue">&hellip;</span>
							<b class="quote-title"><br /> - {{title}}</b>
						</p>

						<a class="read-more" href="{{{url}}}">Read more</a>

					</div>

				</div>

			</article>

		{{/foreach}}

	    {{#if pagination}}
			<div class="pagination" role="pagination">
				{{{pagination}}}
			</div>
	    {{/if}}

	    {{> footer}}
	</section>