<header>
	{{#if tags}}
		<div>
			Tags: {{tags separator=" | "}}
		</div>
	{{/if}}

	<time datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">
		{{date format='dddd DD MMM YYYY'}}
	</time>
	<h1 itemprop="name headline">
		<a href="{{url}}" itemprop="url" data-pjax title="{{title}}">
			{{title}}
		</a>
	</h1>
</header>